name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Build Darwin AMD64
        run: GOOS=darwin GOARCH=amd64 go build -o pentlog-darwin-amd64 .

      - name: Build Darwin ARM64
        run: GOOS=darwin GOARCH=arm64 go build -o pentlog-darwin-arm64 .

      - name: Build Linux AMD64
        run: GOOS=linux GOARCH=amd64 go build -o pentlog-linux-amd64 .

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            pentlog-darwin-amd64
            pentlog-darwin-arm64
            pentlog-linux-amd64
